<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8">
	<title>农场</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/style.css">
	<script type="text/javascript" src="__ROOT__/Public/Home/js/fontSize.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/layer_mobile/layer.js"></script>

</head>
<body>

<img src="__ROOT__/Public/Home/images/gou.gif" alt="" class="dogImg">
<img src="__ROOT__/Public/Home/images/gou.gif" alt="" class="dogImg1">
<img src="__ROOT__/Public/Home/images/gou.gif" alt="" class="dogImg2">
<img src="__ROOT__/Public/Home/images/gou.gif" alt="" class="dogImg3">
<ul class="lands">
	<li class="land land1" style="background: url(__ROOT__/Public/Home/images/land1.png) no-repeat;" data-land="0">
		<img src="__ROOT__/Public/Home/images/shumiao.png" alt="" class="plant">
		<img src="__ROOT__/Public/Home/images/cao.png" alt="" class="cao">
		<img src="__ROOT__/Public/Home/images/chong1.png" alt="" class="chong1">
		<span class="application">300</span>
	</li>
	<li class="land land2" style="background: url(__ROOT__/Public/Home/images/land1.png) no-repeat;" data-land="1">
		<img src="__ROOT__/Public/Home/images/xihongshi.gif" alt="" class="plant">
		<img src="__ROOT__/Public/Home/images/cao.png" alt="" class="cao">
		<!-- <img src="__ROOT__/Public/Home/images/chong1.png" alt="" class="chong1"> -->
		<span class="application">300</span>
	</li>
	<li class="land land3" style="background: url(__ROOT__/Public/Home/images/land1.png) no-repeat;" data-land="2">
		<img src="__ROOT__/Public/Home/images/shumiao.png" alt="" class="plant">
		<!-- <img src="__ROOT__/Public/Home/images/cao.png" alt="" class="cao"> -->
		<img src="__ROOT__/Public/Home/images/chong1.png" alt="" class="chong1">
		<span class="application">300</span>

	</li>
	<li class="land land4" style="background: url(__ROOT__/Public/Home/images/land2.png) no-repeat;"  data-land="3">
		<!-- 	<img src="__ROOT__/Public/Home/images/cao.png" alt="" class="cao">
            <img src="__ROOT__/Public/Home/images/chong1.png" alt="" class="chong1"> -->
		<span class="application">300</span>

	</li>
	<li class="land land5" style="background: url(__ROOT__/Public/Home/images/land2.png) no-repeat;"  data-land="4">
		<!-- <img src="__ROOT__/Public/Home/images/cao.png" alt="" class="cao">
        <img src="__ROOT__/Public/Home/images/chong1.png" alt="" class="chong1"> -->
		<span class="application">300</span>

	</li>
	<li class="land land6" style="background: url(__ROOT__/Public/Home/images/land2.png) no-repeat;"  data-land="5">
		<!-- <img src="__ROOT__/Public/Home/images/cao.png" alt="" class="cao">
        <img src="__ROOT__/Public/Home/images/chong1.png" alt="" class="chong1"> -->
		<span class="application">300</span>
	</li>
	<li class="land land7" style="background: url(__ROOT__/Public/Home/images/land2.png) no-repeat;"  data-land="6">
		<!--  <img src="__ROOT__/Public/Home/images/cao.png" alt="" class="cao">
     <img src="__ROOT__/Public/Home/images/chong1.png" alt="" class="chong1"> -->
		<span class="application">300</span>
	</li>
	<li class="land land8" style="background: url(__ROOT__/Public/Home/images/land2.png) no-repeat;"  data-land="7">
		<!-- <img src="__ROOT__/Public/Home/images/cao.png" alt="" class="cao">
    <img src="__ROOT__/Public/Home/images/chong1.png" alt="" class="chong1"> -->
		<span class="application">300</span>
	</li>
	<li class="land land9" style="background: url(__ROOT__/Public/Home/images/land2.png) no-repeat;"  data-land="8">
		<!-- <img src="__ROOT__/Public/Home/images/cao.png" alt="" class="cao">
         <img src="__ROOT__/Public/Home/images/chong1.png" alt="" class="chong1"> -->
		<span class="application">300</span>
	</li>
	<li class="land land10" style="background: url(__ROOT__/Public/Home/images/land2.png) no-repeat;"  data-land="9">
		<!-- <img src="__ROOT__/Public/Home/images/cao.png" alt="" class="cao">
        <img src="__ROOT__/Public/Home/images/chong1.png" alt="" class="chong1"> -->
		<span class="application">300</span>
	</li>
	<li class="land land11" style="background: url(__ROOT__/Public/Home/images/land2.png) no-repeat;"  data-land="10">
		<!-- <img src="__ROOT__/Public/Home/images/cao.png" alt="" class="cao">
        <img src="__ROOT__/Public/Home/images/chong1.png" alt="" class="chong1"> -->
		<span class="application">300</span>
	</li>
	<li class="land land12" style="background: url(__ROOT__/Public/Home/images/land2.png) no-repeat;"  data-land="11">
		<!--  <img src="__ROOT__/Public/Home/images/cao.png" alt="" class="cao">
     <img src="__ROOT__/Public/Home/images/chong1.png" alt="" class="chong1"> -->
		<span class="application">300</span>
	</li>
	<li class="land land13" style="background: url(__ROOT__/Public/Home/images/land2.png) no-repeat;" data-land="12">
		<!--   <img src="__ROOT__/Public/Home/images/cao.png" alt="" class="cao">
           <img src="__ROOT__/Public/Home/images/chong1.png" alt="" class="chong1"> -->
		<span class="application">300</span>
	</li>
	<li class="land land14" style="background: url(__ROOT__/Public/Home/images/land2.png) no-repeat;" data-land="13">
		<!-- <img src="__ROOT__/Public/Home/images/cao.png" alt="" class="cao">
        <img src="__ROOT__/Public/Home/images/chong1.png" alt="" class="chong1"> -->
		<span class="application">300</span>
	</li>
	<li class="land land15" style="background: url(__ROOT__/Public/Home/images/land2.png) no-repeat;" data-land="14">
		<!-- <img src="__ROOT__/Public/Home/images/cao.png" alt="" class="cao">
         <img src="__ROOT__/Public/Home/images/chong1.png" alt="" class="chong1"> -->
		<span class="application">300</span>
	</li>
</ul>
<ul class="operation">
	<li>
		<img src="__ROOT__/Public/Home/images/tab/cang.png" alt="" class="cangku">
		<span>仓库</span>
	</li>
	<li>
		<img src="__ROOT__/Public/Home/images/tab/shouhuo.png" alt="" class="cai">
		<span>采摘</span>
	</li>
	<li>
		<img src="__ROOT__/Public/Home/images/tab/friend.png" alt="" class="" onclick="location.href='friend.html';">
		<span>好友</span>
	</li>

	<li>
		<img src="__ROOT__/Public/Home/images/tab/shop1.png" alt="" class="store">
		<span>商店</span>
	</li>
	<li>
		<img src="__ROOT__/Public/Home/images/tab/my.png" alt="" class="" onclick="location.href='__ROOT__/index.php/Home/User/my.html';">
		<span>我的</span>
	</li>
</ul>
<div class="mask">
	<div class="maskContent">
		<img src="__ROOT__/Public/Home/images/shopt.png" alt="" class="titleImg">
		<img src="__ROOT__/Public/Home/images/x.png" alt="" class="closeImg">
		<ul class="tab">
			<li class="selected" data-id="1">种子</li>
			<li  data-id="2">道具</li>
		</ul>
		<div class="tabContent">
			<ul class="lists">
				<foreach name="zhongzi" item='v'>
					<li class="list">
						<div class="left">
							<img src="{$v.pic}" alt="" class="tab_plant">
							<span class="plantName">{$v.name}</span>
							<span class="plantid" style="display: none;">{$v.id}</span>
						</div>
						<ul class="right">
							<li>售价：<span class="plantMoney">{$v.price}</span></li>
							<li><button>购买</button></li>
						</ul>
					</li>
				</foreach>
			</ul>
		</div>
		<div class="tabContent hidden">
			<ul class="lists">
				<foreach name="daoju" item='v'>
					<li class="list">
						<div class="left">
							<img src="{$v.pic}" alt="" class="tab_plant tool">
							<span class="plantName">{$v.name}</span>
							<span class="plantid" style="display: none;">{$v.id}</span>
						</div>
						<ul class="right">
							<li>售价：<span class="plantMoney">{$v.price}</span></li>
							<li><button>购买</button></li>
						</ul>
					</li>
				</foreach>

			</ul>
		</div>
	</div>
	<div class="buyContent">
		<img src="__ROOT__/Public/Home/images/luobu.gif" alt="" class="buy_plant">
		<span class="plant_name">西红柿种子</span>
		<img src="__ROOT__/Public/Home/images/x.png" alt="" class="closeImg1">
		<form action="" method="post" enctype="multipart/form-data">
			<ul class="info">
				<li>单价：<input type="text"  value="300" id="singleMoney" disabled="disabled"></li>
				<!-- <span id="singleMoney"></span> -->
				<li class="input"><button class="mins" type="button">-</button><input type="number" name="number" value="1" id="number" /><button class="plus"  type="button">+</button></li>
				<li>总计：<span id="totle">300</span></li>
				<input type="hidden" class="plantid" name="id" value="1">
			</ul>
			<button type="submit" id="submit"></button>
			<!-- <img src="__ROOT__/Public/Home/images/yesbuy.png" alt="" class="yesImg"> -->
		</form>
	</div>
</div>
<div class="warehouse">
	<div class="maskContent maskContent1">
		<img src="__ROOT__/Public/Home/images/depott.png" alt="" class="titleImg">
		<img src="__ROOT__/Public/Home/images/x.png" alt="" class="closeImg2">
		<ul class="tab tab1">
			<li class="selected">种子</li>
			<li>道具</li>
			<li>果实</li>
		</ul>
		<ul class="tabContents">
			<foreach name="zhongzi" item='v' key="k">
			<li data-seed="<?php echo $k+1; ?>">
				<img src="{$v.pic}" alt="" class="cangPlant">
				<span>{$v.name}（1）</span>
			</li>
			</foreach>
		</ul>
		<ul class="tabContents hidden">
			<foreach name="daoju" item='v'>
			<li class="" tyle="width:35%;">
				<img src="{$v.pic}" alt="" class="cangPlant">
				<span style="margin-top: .4rem;">{$v.name}（1）</span>
			</li>
			</foreach>
			<!--<li class="chucao">-->
				<!--<img src="__ROOT__/Public/Home/images/chucao.png" alt="" class="cangPlant">-->
				<!--<span>除草剂（22）</span>-->
			<!--</li>-->
			<!--<li class="shachong">-->
				<!--<img src="__ROOT__/Public/Home/images/shachong.png" alt="" class="cangPlant" style="width:35%;">-->
				<!--<span>杀虫剂（20）</span>-->
			<!--</li>-->
			<!--<li>-->
				<!--<img src="__ROOT__/Public/Home/images/gutou.png" alt="" class="cangPlant">-->
				<!--<span>狗骨头（20）</span>-->
			<!--</li>-->
			<!--<li>-->
				<!--<img src="__ROOT__/Public/Home/images/gouliang.png" alt="" class="cangPlant">-->
				<!--<span>狗粮（20）</span>-->
			<!--</li>-->
			<!--<li>-->
				<!--<img src="__ROOT__/Public/Home/images/vip.png" alt="" class="cangPlant">-->
				<!--<span style="margin-top: .5rem;">VIP卡（20）</span>-->
			<!--</li>-->
		</ul>
		<ul class="tabContents hidden">
			<foreach name="guoshi" item='v'>
			<li>
				<input type="hidden" value="300">
				<img src="{$v.pic}" alt="" class="cangPlant">
				<span>{$v.name}（1）</span>
			</li>
			</foreach>
		</ul>


	</div>
</div>
<div class="warehouse1">
	<div class="maskContent maskContent1">
		<img src="__ROOT__/Public/Home/images/depott.png" alt="" class="titleImg">
		<img src="__ROOT__/Public/Home/images/x.png" alt="" class="closeImg2">
		<ul class="tab tab1">
			<li class="selected" style="width: 100%;">种子</li>
		</ul>
		<ul class="tabContents">
			<li data-seed="1">
				<img src="__ROOT__/Public/Home/images/pingguoshu.gif" alt="" class="cangPlant">
				<span>苹果种子（1）</span>
			</li>
			<li data-seed="2">
				<img src="__ROOT__/Public/Home/images/meiguihua.png" alt="" class="cangPlant">
				<span style="margin-top: .2rem;">玫瑰花种子（22）</span>
			</li>
			<li data-seed="3">
				<img src="__ROOT__/Public/Home/images/luobu.gif" alt="" class="cangPlant">
				<span>萝卜种子（20）</span>
			</li>
			<li data-seed="4">
				<img src="__ROOT__/Public/Home/images/xiangjiao.gif" alt="" class="cangPlant">
				<span>香蕉（20）</span>
			</li>
			<li data-seed="5">
				<img src="__ROOT__/Public/Home/images/xihongshi.gif" alt="" class="cangPlant">
				<span>西红柿种子（20）</span>
			</li>
			<li data-seed="6">
				<img src="__ROOT__/Public/Home/images/mugua.gif" alt="" class="cangPlant">
				<span>木瓜种子（20）</span>
			</li>

		</ul>
	</div>
</div>
<input type="hidden" id="seeds" value="">
<script type="text/javascript" src="__ROOT__/Public/Home/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
	$('body').height($(window).height());
	$(".mask .tab li").click(function() {
		$(this).addClass('selected').siblings().removeClass('selected');
		var index=$(this).index();
		$(".mask .tabContent").addClass('hidden').eq(index).removeClass('hidden');
	});
	$(".warehouse .tab li").click(function() {
		$(this).addClass('selected').siblings().removeClass('selected');
		var index=$(this).index();
		$(".warehouse .tabContents").addClass('hidden').eq(index).removeClass('hidden');
	});
	$(".tabContent .right button").click(function() {
		var p=$(this).parents(".list");
		var name=p.find('.plantName').html();
		var src=p.find('.tab_plant').attr('src');
		var singleMoney=p.find('.plantMoney').html();
		$(".plant_name").html(name);
		$(".buy_plant").attr('src', src);
		$("#singleMoney").val(singleMoney);
		$("#totle").html(singleMoney);
		$(".buyContent").show();
	});
	$(".closeImg1").click(function() {
		$(".buyContent").hide();
		$("#number").val(1);
	});
	// 价格弹窗关闭
	$(".closeImg").click(function() {
		if($(".buyContent").css('display')=="block"){
			return false;
		}
		$(".mask").hide();
	});
	// 价格计算
	$(".plus").click(function() {
		var val=Number($("#number").val());
		var singleMoney=Number($("#singleMoney").val());
		$("#number").val(++val);
		$("#totle").html(parseInt(val*singleMoney));
	});
	$(".mins").click(function() {
		var val=Number($("#number").val());
		var singleMoney=Number($("#singleMoney").val());
		if(val<=1){
			return false;
		}
		$("#number").val(--val);
		$("#totle").html(parseInt(val*singleMoney));
	});
	// 价格计算end


	// 商店显示
	$(".store").click(function() {
		$(".mask").show();
	});
	// 个人仓库显示
	$(".cangku").click(function() {
		$(".warehouse").show();
	});
	// 个人仓库关闭
	$(".warehouse .closeImg2").click(function() {
		$(".warehouse").hide();
	});
	// 种子弹窗关闭
	$(".warehouse1 .closeImg2").click(function() {
		$(".warehouse1").hide();
	});
	// 点击 种子种地
	var seed;
	$(".warehouse1 li").click(function() {
//		debugger;
		$(".land").eq(land).css("background","url(__ROOT__/Public/Home/images/land1.png) no-repeat").append('<img src="__ROOT__/Public/Home/images/shumiao.png" alt="" class="plant">');
		seed=$(this).attr('data-seed');
		console.log(land);
		console.log(seed);
		//  发送请求
		$.ajax({
			url:"__ROOT__/index.php/Home/Index/friendstouqu",
			data:{
				land : land,
				seed:seed
			},
			cache:false,
			type:'get',
			success:function(result){
//				$("#div1").html(result);
			}});


		$(".warehouse1").hide();
		$(".land .plant").click(function() {
			var str=$(this).parents(".land").css("background");
			console.log(str.indexOf("__ROOT__/Public/Home/images/land2.png"));
			if(str.indexOf("__ROOT__/Public/Home/images/land2.png")>-1){
				return false;
			}
			var that=$(this).parents(".land");
			$(that).find(".application").animate({
				"opacity":1
			},2000,function(){
				$(that).find(".application").animate({
					"opacity":0
				},2000);
			});
		});
	});


	$(".land .plant").click(function() {
		var str=$(this).parents(".land").css("background");
		console.log(str.indexOf("__ROOT__/Public/Home/images/land2.png"))
		if(str.indexOf("__ROOT__/Public/Home/images/land2.png")>-1){
			return false;
		}
		var that=$(this).parents(".land");
		$(that).find(".application").animate({
			"opacity":1
		},2000,function(){
			$(that).find(".application").animate({
				"opacity":0
			},2000);
		});
	});
	// 点击土地弹出种子窗口
	var land=null;
	$(".land").click(function() {
		var str=$(this).css("background");
		land=$(this).attr("data-land");
		console.log(land);
//		console.log(str.indexOf("__ROOT__/Public/Home/images/land1.png"));
		if(str.indexOf("__ROOT__/Public/Home/images/land1.png")>-1){
			return false;
		}
		$(".warehouse1").show();

	});


	// 点击除草剂弹窗
	$(".chucao").click(function() {
		layer.open({
			content: '请问要给xx块地除草吗'
			,btn: ['确定', '取消']
			,shadeClose: false
			,yes: function(index){
				layer.close(index);
			}
		});
	});
	// 点击杀虫剂弹窗
	$(".shachong").click(function() {
		layer.open({
			content: '请问要给xx块地杀虫吗'
			,btn: ['确定', '取消']
			,shadeClose: false
			,yes: function(index){
				layer.close(index);
			}
		});
	});

	// 果实售卖
	$("#guoshi li").click(function() {
		var src=$(this).find("img").attr('src');
		var name=$(this).find("i").html();
		var val=$(this).find("input").val();
		$("#number1").val(1);
		$(".buy_plant1").attr('src', src);
		$(".plant_name1").html(name)
		$("#singleMoney1").val(val);
		$("#totle1").html(val);
		$(".saleMask").show();
	});


</script>
</body>
</html>